.signup_section {
    display: flex;
    flex-direction: column;
    height: 100dvh;
    padding: 20px;
    box-sizing: border-box;
}

.form {
    flex: 1;
    display: flex;
    flex-direction: column;
    margin-top: 36px;
}

.field_group {
    display: flex;
    flex-direction: column;
    margin-bottom: 16px;
}

.dup_btn {
    align-self: flex-end;
}

.button_wrapper {
    margin-top: auto;
    padding-top: 16px;
    padding-bottom: calc(16px + env(safe-area-inset-bottom));
}
