.screen {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: #ffffff;
    height: 100vh;
    padding-top: 60px;
    padding-bottom: 100px;
    box-sizing: border-box;
}

.content {
    overflow-y: auto;
}
