.screen {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: #ffffff;
    height: 100vh;
    box-sizing: border-box;
}

.content {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 40px 20px 80px 20px;
    width: 100%;
    max-width: 550px;
    box-sizing: border-box;
}
