@keyframes fadeUp {
    0% {
        opacity: 0;
        transform: translateY(30px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.screen {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background: #ffffff;
    height: 100%;
    box-sizing: border-box;
}

.logo {
    margin: auto 0;
    animation: fadeUp 1s ease-out forwards;
}

.corp {
    margin-bottom: calc(env(safe-area-inset-bottom, 0px) + 20px);
    color: #ff3871;
    font-size: 12px;
}
