.screen {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: #ffffff;
    height: 100vh;
    box-sizing: border-box;
}

.content {
    overflow-y: auto;
    padding: 70px 0 100px 0;
}

.devider {
    width: 100%;
    height: 8px;
    background: #f8f8f8;
}
