.bubble {
    background: linear-gradient(
        to right,
        #e07073 0%,
        #d65862 59%,
        #f7b4b7 100%
    );
    font-size: 12px;
    border-radius: 50px;
    margin: 0 24px;
    padding: 8px 0;
    color: white;
    text-align: center;
}
