body,
html {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: "Pretendard";
    font-weight: 400;
    font-style: normal;
    box-sizing: border-box;
}

p {
    margin: 0;
}

/* Pretendard */
@font-face {
    font-family: "Pretendard";
    src: url(./assets/font/Pretendard-Bold.otf);
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: "Pretendard";
    src: url(./assets/font/Pretendard-SemiBold.otf);
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: "Pretendard";
    src: url(./assets/font/Pretendard-Medium.otf);
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: "Pretendard";
    src: url(./assets/font/Pretendard-Regular.otf);
    font-weight: 400;
    font-style: normal;
}

/* SUITE */
@font-face {
    font-family: "SUITE";
    src: url(./assets/font/SUITE-Regular.otf);
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: "SUITE";
    src: url(./assets/font/SUITE-SemiBold.otf);
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: "SUITE";
    src: url(./assets/font/SUITE-Bold.otf);
    font-weight: 700;
    font-style: normal;
}
